body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    background-color: var(--bs-white);
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

/* laptop and layer screen */
#header .navbar-md ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: end;
    margin: 10px;
}

#header .navbar-md ul li:not(:last-child) a {
    margin-bottom: 10px;

}

#header .navbar-md ul li a {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--bs-gray-200);
    height: 50px;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: auto;
    font-weight: 100;
    transition: 0.3;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;

}

#header .navbar-md ul li a:hover  {
    background-color: var(--bs-primary);
    color: var(--bs-white);
    width: 100%;
}
#header .navbar-md ul li a.active {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}
#header .navbar-md ul li a .name {
    display: none;
    margin-left: 10px;
}

#header .navbar-md ul li a:hover .name {
    display: block;
}

/* mobile screen */
#header .navbar-sm ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: end;
    margin: 10px;
    width: 100%;
}

#header .navbar-sm ul li:not(:last-child) a {
    margin-bottom: 15px;

}

#header .navbar-sm ul li a {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--bs-gray-200);
    height: 50px;
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
    margin-right: auto;
    font-weight: 100;
    transition: 0.3;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;

}

#header .navbar-sm ul li a:hover  {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

#header .navbar-sm ul li a .name {
    margin-left: 10px;
}